# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# build-time generated
.esbuild

# run-time generated
store/*

# OS stuff
.DS_Store

# IDE/tool stuff
.idea
.nvmrc

# Secrets
src/private
